<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="pusherAppId" value="687961" />
  <add key="pusherAppKey" value="c6362fa519426b376040" />
  <add key="pusherAppSecret" value="fc8e75c3d2f6abedd8bf" />

  <add key="pusherOddsChannelName" value="dev-sportsiqodds" />
  <add key="pusherScoreChannelName" value="dev-sportsiqscores" />

  <add key="isSimulation" value="false" />
  <add key="isTeamMode" value="true" />


  <add key="sportRadarNbaGameInfoBaseUrl" value="https://api.sportradar.us/nba/trial/v5/en/games/" />
  <add key="sportRadarNbaGameEventBaseUrl" value="http://api.sportRadar.us/nba/trial/stream/en/events/subscribe" />
  <add key="sportRadarNbaAuthenticationKey" value="uag3cmqdhmb9menemmh73nbs" />

  <add key="subscriptionId" value="nba_control_dev" />
  <add key="datastoreMarketOddsKey" value="NBAODDS" />
  <add key="datastoreFinishedOddsKey" value="MLBOFINSTORE" />
</appSettings>