<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="pusherAppId" value="687961" />
  <add key="pusherAppKey" value="c6362fa519426b376040" />
  <add key="pusherAppSecret" value="fc8e75c3d2f6abedd8bf" />

  <add key="pusherOddsChannelName" value="dev-playerodds" />
  <add key="pusherScoreChannelName" value="dev-playerscores" />

  <!--<add key="sportRadarNbaGameInfoBaseUrl" value="https://api.sportradar.us/nba/simulation/v5/en/games/" />
  <add key="sportRadarNbaGameEventBaseUrl" value="http://api.sportRadar.us/nba/simulation/stream/en/events/subscribe" />
  <add key="sportRadarNbaAuthenticationKey" value="uag3cmqdhmb9menemmh73nbs" />-->

  <add key="isSimulation" value="true" />
  <add key="isTeamMode" value="false" />
<!--
app_id = "687961"
key = "c6362fa519426b376040"
secret = "fc8e75c3d2f6abedd8bf"
cluster = "us2"
-->

  <add key="subscriptionId" value="nba_control_dev" />
  <!-- the next two seetings are incorrect -->
  <add key="datastoreMarketOddsKey" value="NBAOODS" />
  <add key="datastoreFinishedOddsKey" value="WNBAPROPS" />
</appSettings>