<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="pusherAppId" value="687961" />
  <add key="pusherAppKey" value="c6362fa519426b376040" />
  <add key="pusherAppSecret" value="fc8e75c3d2f6abedd8bf" />

  <add key="pusherOddsChannelName" value="sim-sportsiqodds" />
  <add key="pusherScoreChannelName" value="sim-sportsiqscores" />

  <add key="subscriptionId" value="nflWrapperDev" />
  <add key="datastoreMarketOddsKey" value="NFLODDS" />
  <add key="datastoreFinishedOddsKey" value="MLBOFINSTORE" />

  <!--<add key="sportRadarNflGameInfoBaseUrl" value="https://api.sportradar.us/nfl/official/simulation/v5/en/games" />
  <add key="sportRadarNflGameEventBaseUrl" value="http://api.sportradar.us/nfl/official/simulation/stream/en/events/subscribe" />
  <add key="sportRadarNflAuthenticationKey" value="jg56yaxgpzf2jm46xvy6hatb" />-->

  <add key="isSimulation" value="true" />
</appSettings>