<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="pusherAppId" value="687961" />
  <add key="pusherAppKey" value="c6362fa519426b376040" />
  <add key="pusherAppSecret" value="fc8e75c3d2f6abedd8bf" />

  <add key="subscriptionId" value="nflWrapper" />
  <add key="datastoreMarketOddsKey" value="ODDSTORESTG" />
  <add key="datastoreFinishedOddsKey" value="FINSTORESTG" />
</appSettings>