<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="pusherAppId" value="687963" />
  <add key="pusherAppKey" value="f3183e4448b924753bc0" />
  <add key="pusherAppSecret" value="4eb11c2e3906a978927f" />

  <add key="subscriptionId" value="wnba_control_staging" />
  <add key="datastoreMarketOddsKey" value="WNBAODDS" />
  <!-- this setting is incorrect -->
  <add key="datastoreFinishedOddsKey" value="MLBOFINSTORESTG" />
</appSettings>